video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  border: none;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  width: 40%;
}
li {
  padding: 10px;
  margin: 5px;
  border: 1px solid #85c8d2;
  border-radius: 30px;
  background-color: rgba(242, 215, 155, .7);
}
h1, h2, ul, p {
  font-family: 'Open Sans', sans-serif;
}
.icon {
  width: 30px;
}
button {
  margin-top: 10px;
  border: none;
  background-color: transparent;
}
button:hover{
  cursor: pointer;
}
.img-btn {
  width: 70px;
}
.img-dish {
  border-radius: 50%;
}
.p-calories {
  padding: 5px;
  background-color: rgba(238, 62, 84, .3);
  border-radius: 20px;
}
.p-healthLabels {
  text-align: center;
  background-color: #ddd6e8;
  border-radius: 15px;
}
.cont {
  width: 70%;
}

.btn {
  text-transform: uppercase;
  border: 1px solid #85c8d2;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(242, 215, 155, 1);
}
.show {
  display: block;
}
.none {
  display: none;
}
